@value makerPurple from "../../common/colors.css";
@value radius from "../../common/size.css";

.button {
  width: 14em;
  font-size: 0.9rem;
  font-family: 'Jua', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: makerPurple;
  border-style: none;
  border-radius: radius;
  margin-top: 1rem;
}

.button:active {
  background-color: hotpink;
}
