@value radius from "../../common/size.css";
@value smallScreen from "../../common/size.css";
@value mediumScreen from "../../common/size.css";
@value makerWhite from '../../common/colors.css';
@value makerLightBg from '../../common/colors.css';
@value makerMint from '../../common/colors.css';
@value makerShadow from '../../common/colors.css';

.button {
  width: 35vw;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: makerLightBg;
  box-shadow: makerShadow;
  color: makerWhite;
  border-style: none;
  border-radius: radius;
  margin-top: 1rem;
}

.button:hover,
.button:active {
  background-color: makerMint;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: smallScreen) {
  .button {
    width: 70vw;
  }
}

@media screen and (min-width: 321px) and (max-width: mediumScreen) {
  .button {
    width: 60vw;
  }
}
