@value radius from '../../common/size.css';
@value makerPurple from '../../common/colors.css';

.button {
  width: 100%;
  border-radius: radius;
  border: none;
  background-color: makerPurple;
  margin-top: 1rem;
  padding: 0 1em 1em 1em;
  font-family: 'Poor Story', cursive;
  font-size: 0.9rem;
}

.button:active {
  background-color: hotpink;
}
