@value makerOrange from '../../common/colors.css';
@value radius from '../../common/size.css';
@value smallScreen from '../../common/size.css';
@value mediumScreen from '../../common/size.css';

.container {
  width: 50vw;
  height: auto;
  padding: 5rem 0;
  background-color: makerOrange;
  border-radius: radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  width: 80%;
  text-align: center;
}

.subtitle {
  font-family: 'Jua', sans-serif;
  font-size: 1.8rem;
  width: 80%;
  text-align: center;
}

.img {
  width: 80%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: radius;
}

#img {
  width: 15em;
  height: auto;
  border-radius: radius;
  animation: appear 3s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1em);
    box-shadow: 1em -2em royalblue;
  }
  to {
    opacity: 1;
    box-shadow: 0.8em 0.8em tomato;
  }
}

.span {
  width: 5em;
  font-family: 'Jua', sans-serif;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  background-color: lightcoral;
  color: white;
  border-radius: radius;
}

.description,
.synopsis {
  padding: 0 10vw;
  font-size: 1.2rem;
}

.synopsis {
  margin-bottom: 5rem;
}

@media screen and (max-width: smallScreen) {
  .container {
    width: 90vw;
    padding: 2rem 0;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  #img {
    width: 10em;
  }
}

@media screen and (min-width: 321px) and (max-width: mediumScreen) {
  .container {
    width: 80vw;
    padding: 3rem 0;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  #img {
    width: 12em;
  }
}
