@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poor Story", cursive;
}

body {
  background: url(./images/polygon-scatter-haikei.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}
